{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row h-100" id="ContainerChart">
        <div class="col-sm-8">
          <canvas id="myChart"></canvas>
        </div>
        <div class="col-sm-4">
          <canvas id="myChart"></canvas>
        </div>
      </div>
      <div class="container" id="ContainerValue">
        <div id="list_label">
          {% if list_label %}
          {{ list_label }}
          {% endif %}
        </div>
        <div id="list_trades">
          {% if list_trades %}
          {{ list_trades }}
          {% endif %}
        </div>
        <div id="list_rates">
          {% if list_rates %}
          {{ list_rates }}
          {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static 'website/index.js' %}"></script>
  </body>
</html>
